.sidebar {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px;
    height: 85vh;
    position: fixed;
    width: 15%;
    height: 100vh;
}


.sidebar-header {
    cursor: pointer;
    margin-bottom: 20px;
    color: gray;
}

.sidebar-header-book-type {
    cursor: default;
    margin-top: 40px;
    margin-bottom: 10px;
    color: gray;
}

.sidebar-header:nth-of-type(3) {
    cursor: default;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.sidebar-icons {
    position: relative;
    /*This moves the icon down by 5 pixels without affecting the text.*/
    top: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.sidebar-label {
    margin-bottom: 8px;
    margin-left: 15px;
    /*font-weight: 500;*/
    font-weight: 600;
    font-size: small;
    cursor: pointer;
}

.sidebar-label input {
    appearance: none;
}

.active-label {
    color: white;
    /*text-decoration: underline;*/
}

.sidebar-input {
    display: none;
}

/*.search-box {
    border: none;
    border-radius: 8px;
    padding: 10px 0px 10px 5px;
    margin-bottom: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
}*/

.search-box::placeholder {
    color: gray;
}